---
layout: default
---
<section id="editorial">  
            <ul>
                {% for post in site.posts %}
                    {% if post.editorial %} 
                        <li>
                     {{ post.content }}
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </section>
             <section id="webdesign">
               <ul>
                {% for post in site.posts %}
                    {% if post.digital %} 
                        <li>
                        {{ post.content }}
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </section>
            <section id="about">
                <h1 class="titulo">OI, HELLO, SALUT</h1>
                <p class="about">
                    Comecei nos desenhos com canela no arroz doce e fui até ao Design de Comunicação. 
                    <br>
                    <br>
                    Desde que me lembro gosto de fazer várias coisas e isso fez-me escolher o Design de Comunicação. As possibilidades de projetos com os mais variados temas é uma das características principais pelas quais adoro aquilo que faço. Gosto de ter de pensar sobre coisas diferentes e de as conhecer, de ouvir as experiências que outros já viveram e conhecer as transformações. Gosto de aprender com os outros.
                    <br>
                    <br>            
                    A Faculdade de Belas-Artes em Lisboa foi a minha casa durante a licenciatura, mudei-me do campo para a cidade e agora vivo no limbo entre os dois ambientes (nem são assim muito diferentes, há baratas nos dois lados). Durante a licenciatura os meus projetos incidiram mais na área do editorial e da instalação mas rapidamente me apercebi da paixão pela web e pelas possibilidade de interação.

                    <br><br>Hoje em dia estou a fazer uma Pós-Graduação em Digital Experience Design na Faculdade de Belas-Artes de Lisboa.
                    <br> 
                </p>
                <article class="sem_padding">
                    <h1 class="titulo"> EDUCAÇÃO</h1> 
                    <p class="topicos">(2018 — presente) <br> Pós Graduação <br> Digital Experience Design na <a href="http://www.belasartes.ulisboa.pt/">Faculdade de Belas-Artes da Universidade de Lisboa.</a>
                    <br><br> (2015 — 2018) <br> Licenciatura <br>
                    Design de Comunicação na <a href="http://www.belasartes.ulisboa.pt/">Faculdade de Belas-Artes da Universidade de Lisboa.</a><br><br>
                    (2012 — 2015)<br>
                    Ensino Secundário <br>
                    Curso científico-humanístico de Artes Visuais na Escola Secundária Henriques Nogueira.
                    </p>
                </article>
                <article class="sem_padding">
                    <h1 class="titulo"> FERRAMENTAS</h1>
                    <p class="bold" class="topicos">PROGRAMAS</p>
                    <p class="topicos">
                    Indesign<br>
                    Photoshop<br>
                    Illustrator<br>
                    Sketch<br>
                    FIGMA<br>
                    XD<br>
                    After Effects<br>
                    Premiere<br>
                    Brackets<br>
                    Principle<br>
                    Invision<br>
                    </p>
                    <p class="bold" class="margin_zero" >ONLINE</p>
                    <p class="topicos">
                    Trello<br>
                    Slack<br>
                    Google Drive<br>
                    Dropbox<br>
                    </p>
                </article>
            </section>
            <section id="contacts">
                <h1 class="titulo">LET'S TALK</h1>
                <p class="topicos"> E-MAIL <br> <a href="mailto:nicolepaulohenriques@gmail.com?subject=hello!">nicolehenriques@campus.ul.pt</a><br>
                <br>TELEFONE<br>
                +351 910 148 651 <br><br>
                BEHANCE<br>
                <a href="https://www.behance.net/nicolehenriques">nicolehenriqs <br></a>
                </p>
            </section>